<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outdd.toolbox.reptile.novel.dao.MergeChapterContentMapper" >
  <resultMap id="BaseResultMap" type="com.outdd.toolbox.reptile.novel.pojo.MergeChapterContent" >
    <constructor >
      <arg column="chapter_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="content_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.outdd.toolbox.reptile.novel.pojo.MergeChapterContent" >
    insert into merge_chapter_content (chapter_code, content_code)
    values (#{chapterCode,jdbcType=VARCHAR}, #{contentCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.outdd.toolbox.reptile.novel.pojo.MergeChapterContent" >
    insert into merge_chapter_content
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="chapterCode != null" >
        chapter_code,
      </if>
      <if test="contentCode != null" >
        content_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="chapterCode != null" >
        #{chapterCode,jdbcType=VARCHAR},
      </if>
      <if test="contentCode != null" >
        #{contentCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>