<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outdd.toolbox.reptile.novel.dao.MergeDetailsVolumeMapper" >
  <resultMap id="BaseResultMap" type="com.outdd.toolbox.reptile.novel.pojo.MergeDetailsVolume" >
    <constructor >
      <arg column="details_code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="volume_code" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    details_code,volume_code
    from merge_details_volume
    where details_code = #{code,jdbcType=VARCHAR}
  </select>

  <insert id="insert" parameterType="com.outdd.toolbox.reptile.novel.pojo.MergeDetailsVolume" >
    insert into merge_details_volume (details_code, volume_code)
    values (#{detailsCode,jdbcType=VARCHAR}, #{volumeCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.outdd.toolbox.reptile.novel.pojo.MergeDetailsVolume" >
    insert into merge_details_volume
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="detailsCode != null" >
        details_code,
      </if>
      <if test="volumeCode != null" >
        volume_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="detailsCode != null" >
        #{detailsCode,jdbcType=VARCHAR},
      </if>
      <if test="volumeCode != null" >
        #{volumeCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <!-- 批量插入生成的兑换码 -->
  <insert id ="insertBatch" parameterType="java.util.List" >
    insert into merge_details_volume
    (details_code,volume_code)
    VALUES
    <foreach collection ="list" item="merge" index= "index" separator =",">

      ( #{merge.detailsCode,jdbcType=VARCHAR},

        #{merge.volumeCode,jdbcType=VARCHAR})


    </foreach >
  </insert>
</mapper>