<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.outdd.toolbox.reptile.novel.dao.NovelChapterMapper" >
  <resultMap id="BaseResultMap" type="com.outdd.toolbox.reptile.novel.pojo.NovelChapter" >
    <constructor >
      <idArg column="code" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="word_cnt" jdbcType="BIGINT" javaType="java.lang.Long" />
      <arg column="toll" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="premiere_date" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    code, name, word_cnt, toll, premiere_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from novel_chapter
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from novel_chapter
    where code = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.outdd.toolbox.reptile.novel.pojo.NovelChapter" >
    insert into novel_chapter (code, name, word_cnt, 
      toll, premiere_date)
    values (#{code,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{wordCnt,jdbcType=BIGINT}, 
      #{toll,jdbcType=INTEGER}, #{premiereDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.outdd.toolbox.reptile.novel.pojo.NovelChapter" >
    insert into novel_chapter
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="wordCnt != null" >
        word_cnt,
      </if>
      <if test="toll != null" >
        toll,
      </if>
      <if test="premiereDate != null" >
        premiere_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="wordCnt != null" >
        #{wordCnt,jdbcType=BIGINT},
      </if>
      <if test="toll != null" >
        #{toll,jdbcType=INTEGER},
      </if>
      <if test="premiereDate != null" >
        #{premiereDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <!-- 批量插入生成的兑换码 -->
  <insert id ="insertBatch" parameterType="java.util.List" >
    insert into novel_chapter
    (code,name,premiere_date)
    VALUES
    <foreach collection ="list" item="chapter" index= "index" separator =",">

      (#{chapter.code,jdbcType=VARCHAR},

      #{chapter.name,jdbcType=VARCHAR},
      #{chapter.premiereDate,jdbcType=TIMESTAMP})


    </foreach >
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.outdd.toolbox.reptile.novel.pojo.NovelChapter" >
    update novel_chapter
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="wordCnt != null" >
        word_cnt = #{wordCnt,jdbcType=BIGINT},
      </if>
      <if test="toll != null" >
        toll = #{toll,jdbcType=INTEGER},
      </if>
      <if test="premiereDate != null" >
        premiere_date = #{premiereDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.outdd.toolbox.reptile.novel.pojo.NovelChapter" >
    update novel_chapter
    set name = #{name,jdbcType=VARCHAR},
      word_cnt = #{wordCnt,jdbcType=BIGINT},
      toll = #{toll,jdbcType=INTEGER},
      premiere_date = #{premiereDate,jdbcType=TIMESTAMP}
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>